* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}
.nav-bar h1{
  color:royalblue;
  align-self: center;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

.nav-bar ul {
  display: flex;
  height: 100%;
}

.nav-bar ul li {
  list-style: none;
  height: 100%;
  padding: 15px;
  cursor: pointer;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
  height: 100%;
}

.nav-bar ul li:hover {
  background-color: azure;
}

.header h1 {
  text-align: center;
  color: blueviolet;
}

.main-box {
  width: 100%;
  display: flex;
  flex-direction: row;
 /* justify-content: center; */
}

.aside-box{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  justify-content: center;
}
.images-box{
  display: flex;
  flex-direction: row;
  gap: 2px;
  height: 100%;
  width: 60%;
}
.gallery{
  display: grid;
  grid-template-columns:1fr 2fr;
  grid-gap: 3px;
  justify-content: center;
  margin-top: 70px;
}
.gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.footerlinks


/* .navbar-place-holder
{
  position: static !important;
  width: 100%;
  height: 40%;
}
.divnav
{
top: 0px;
background-color: rosybrown;
height: 85px;
width: 100%;
display: flex;
justify-content: space-between;
position: fixed;
}
.divnav  ul
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  width: 40%;
}
.divnav ul li
{
  border: 1px dotted blanchedalmond;
   display: inline-block;
  width: 30%;
  height: 100%;
  cursor: pointer;
}
.divnav ul li a
{
  font-weight: bold;
  color: black;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.divnav ul li:hover
{
  opacity: 0.6;
  background-color: azure;
} */
.headers h1 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 50px;
}
.footerlinks {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  margin-right: 41px;
  gap: 25px;
  padding: 15px;
}
.footerlinks li {

}
.footerlinks li a {
  color: black;
  text-decoration: none;
}
.mail-cv{
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
  background-color: antiquewhite;
}
.mail-cv a{
  text-decoration: none;
  color: brown;
}