main {
  width: 100%;
  color: var(--Secondary-Color);
}

main .ContactForm{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .ContactForm form{
  width: 20%;
  display: flex;
  flex-direction: column;
}

.ContactForm form input{
  border-radius: 5px;
  padding: 5px;
}